<div id="<%= dom_id friend %>">
  <span>
    <strong>Name:</strong>
    
    <%= link_to friend.name, friend %>
  </span>

  <span>
    <strong>Lastname:</strong>
    <%= friend.lastname %>
  </span>

  <span>
    <strong>Mail:</strong>
    <%= friend.mail %>
  </span>

  <span>
    <strong>Phone:</strong>
    <%= friend.phone %>
  </span>

  <span>
    <strong>Twitter:</strong>
    <%= friend.twitter %>
  </span>


  <span>
    <strong>User:</strong>
    <%= friend.user_id %>
  </span>

</div>
